.global-container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--clr-gray-light-1);
  box-shadow: var(--shadow-dark);
}

.page-header {
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid var(--clr-gray-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}

.main-content {
  display: flex;
}

.sidebar-menu {
  background-color: var(--clr-gray-dark-1);

  //não cresce, não estica, 18% = width que ocupará (flex-basis)
  flex: 0 0 18%;
}

.hotel-overview {
  background-color: #fff;

  //ocupa todo o espaço restante no container
  flex: 1;
}
